!!! 5
html
  head
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='/js/todojs.js')
    title= title
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/mycss.css')
    link(href='/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')

    //if IE 7
      link(rel='stylesheet', href='path/to/font-awesome/css/font-awesome-ie7.min.css')
  body
    block content